.footer {
    position: relative;
    bottom: 0;
    background-color: $offBlack;
    color: white;
    padding: $s-size $l-size;
    text-align: center;
}

.link {
    text-decoration: none; 
    color: #b1a6a6;
}